<ion-view view-title="BILIBILI">
    <ion-content style="text-align: center">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
        </div>

            <a class="button icon-right ion-chevron-right pink-bg" ui-sref="tabs.clothe">登录</a>

    </ion-content>
</ion-view>