<ion-tabs class="tabs-icon-top">
    <ion-tab title="今日推荐" icon-on="ion-android-star-half" icon-off="ion-android-star" ui-sref="tabs.clothe" class="pink-bg">
        <ion-nav-view name="tab-clothe" class="pink-cl bg-size"></ion-nav-view>
    </ion-tab>
    <ion-tab title="分类查看" icon-on="ion-ios-color-filter" icon-off="ion-ios-color-filter-outline" ui-sref="tabs.book" class="pink-bg">
        <ion-nav-view name="tab-book" class="pink-cl bg-size bg-size"></ion-nav-view>
    </ion-tab>
    <ion-tab title="发现惊喜" icon-on="ion-ios-search" icon-off="ion-ios-search-strong" ui-sref="tabs.search" class="pink-bg">
        <ion-nav-view name="tab-search" class="pink-cl bg-size bg-size"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的主页" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.cart" class="pink-bg">
        <ion-nav-view name="tab-cart" class="pink-cl"></ion-nav-view>
    </ion-tab>
</ion-tabs>