<ion-view  view-title="分类查看">
    <ion-content style="font-size: 16px;" ng-controller="listCtl">
        <div class="row ">
            <div class="col" ng-click="show()" style="text-align: center">
                <div><img class="radius width-half"  src="images/01.jpg"/></div><br/>动漫
            </div>
            <div class="col" ng-click="show()" style="text-align: center">
                <div><img class="radius width-half"  src="images/02.jpg"/></div><br/>电视剧
            </div>
            <div class="col" ng-click="show()" style="text-align: center">
                <div><img class="radius width-half"  src="images/03.jpg"/></div><br/>电影
            </div>
            <div class="col" ng-click="show()" style="text-align: center">
                <div><img class="radius width-half"  src="images/04.jpg"/></div><br/>直播
            </div>
        </div>
        <div class="row ">
            <div class="col" ng-click="show()" style="text-align: center">
                <div><img class="radius width-half"  src="images/05.jpg"/></div><br/>音乐
            </div>
            <div class="col" ng-click="show()" style="text-align: center">
                <div><img class="radius width-half"  src="images/06.jpg"/></div><br/>舞蹈
            </div>
            <div class="col" ng-click="show()" style="text-align: center">
                <div><img class="radius width-half"  src="images/07.jpg"/></div><br/>广播
            </div>
            <div class="col" ng-click="show()" style="text-align: center">
                <div><img class="radius width-half"  src="images/09.jpg"/></div><br/>娱乐
            </div>
        </div>
        <div class="list">

            <div class="item item-button-right pink-cl">
                我喜欢的
                <button class="button pink-bg">
                    <i class="icon ion-checkmark-round"></i>
                </button>
            </div>
            <div class="item item-button-right pink-cl">
                我看过的
                <button class="button pink-bg">
                    <i class="icon ion-checkmark-round"></i>
                </button>
            </div>


        </div>
    </ion-content>
</ion-view>