<ion-view  view-title="发现惊喜">
    <ion-content class="pink-bg">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
        <div class="card">
            <div class="item item-text-wrap pink-cl">
                <a class="item item-icon-left item-icon-right" >
                    <i class="icon ion-chatbubble-working"></i>
                    话题中心
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right" >
                    <i class="icon ion-chatbubble-working"></i>
                    活动中心
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right" >
                    <i class="icon ion-chatbubble-working"></i>
                    兴趣圈
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap  pink-cl">
                <a class="item item-icon-left item-icon-right" >
                    <i class="icon ion-chatbubble-working"></i>
                    原创排行榜
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right" >
                    <i class="icon ion-chatbubble-working"></i>
                    全区排行榜
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="card ">
            <div class="item item-text-wrap  pink-cl">
                <a class="item item-icon-left item-icon-right" >
                    <i class="icon ion-chatbubble-working"></i>
                    游戏中心
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right" >
                    <i class="icon ion-chatbubble-working"></i>
                    周边商城
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>html>