<ion-view view-title="欢迎来到BILIBILI" id="tour-view">
        <ion-slide-box>
            <ion-slide <!--style="background-image:url(../../images/tour2.jpg);background-size:cover; "-->>
                <img src="./images/tour3.jpg" >
            </ion-slide>
            <ion-slide>
                <img src="./images/tour1.jpg" >
            </ion-slide>
            <ion-slide  style="position:relative">
                <img src="./images/tour4.jpg" ><br>
                <a class="pink-bg" ui-sref="home" style="text-align: center;position: absolute;left:0;top:50% ;width: 100%;font-size: 30px;line-height: 40px;border: 1px solid #fff;padding-10px">点击我，现在就开始体验吧^_^</a>
            </ion-slide>
        </ion-slide-box>
</ion-view>
